<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.dc.ccpt.modules.printingmanagement.mapper.SubContractPrintingMapper">
	<sql id="subContractPrintingColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		
		a.sub_contract_id AS "subProContract.id",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		u.id AS "subProContract.user.id",
		u.name AS "subProContract.user.name",
		
		a.times AS "times",
		a.print_num AS "printNum",
		a.print_date AS "printDate",
		a.print_type AS "printType",
		a.is_stamp AS "isStamp",
		a.print_detail_type AS "printDetailType",
		
		spc.subpro_contract_name AS "subProContract.subProContractName",
		spc.subpro_contract_date AS "subProContract.subProContractDate",
		spc.subpro_total_price AS "subProContract.subProTotalPrice"
		
	</sql>
	
	<sql id="subContractPrintingJoins">
		LEFT JOIN sub_pro_contract spc ON spc.id=a.sub_contract_id
		LEFT JOIN sys_user u ON u.id = spc.user_id
	</sql>
	
	<!-- 	更新状态和用章时间 -->
	<select id="updateStampStatus" resultType="contractPrinting" >
		UPDATE sub_contract_printing SET 
			is_stamp = #{isStamp},
			print_date = #{printDate}
		WHERE id = #{id}
	</select>
	
	<select id="get" resultType="subContractPrinting" >
		SELECT 
			<include refid="subContractPrintingColumns"/>
		FROM sub_contract_printing a
			<include refid="subContractPrintingJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<!-- 	获取最后一个增加的编号 -->
	<select id="getLastInsertNum" resultType="String" >
		SELECT
			a.print_num AS "printNum"
		FROM sub_contract_printing a	
		WHERE a.create_date =  (SELECT MAX(a.create_date) FROM sub_contract_printing a)
	</select>
	
	<select id="getSubContractPrintingBySubId" resultType="SubContractPrinting" >
		SELECT 
			<include refid="subContractPrintingColumns"/>
		FROM sub_contract_printing a
			<include refid="subContractPrintingJoins"/>
		WHERE a.sub_contract_id = #{subProContract.id}
	</select>
	
	<select id="findList" resultType="subContractPrinting" parameterType="List">
		SELECT 
			<include refid="subContractPrintingColumns"/>
		FROM sub_contract_printing a
			<include refid="subContractPrintingJoins"/>
		<where>
			${dataScope}
			<if test="subProContract.subProContractName != null and subProContract.subProContractName != ''">
				AND spc.subpro_contract_name LIKE 
					<if test="dbName == 'oracle'">'%'||#{subProContract.subProContractName}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{subProContract.subProContractName}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{subProContract.subProContractName},'%')</if>
			</if>
			<if test="subProContract.user.name != null and subProContract.user.name != ''">
				AND u.name LIKE 
					<if test="dbName == 'oracle'">'%'||#{subProContract.user.name}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{subProContract.user.name}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{subProContract.user.name},'%')</if>
			</if>
			<if test="beginPrintDate != null and endPrintDate != null and beginPrintDate != '' and endPrintDate != ''">
				AND a.print_date BETWEEN #{beginPrintDate} AND #{endPrintDate}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC	
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="subContractPrinting" >
		SELECT 
			<include refid="subContractPrintingColumns"/>
		FROM sub_contract_printing a
			<include refid="subContractPrintingJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO sub_contract_printing(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			del_flag,
			remarks,
			print_date,
			print_num,
			print_type,
			times,
			print_detail_type,
<!-- 			is_stamp, -->
			sub_contract_id 
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{delFlag},
			#{remarks},
			#{printDate},
			#{printNum},
			#{printType},
			#{times},
			#{printDetailType},
<!-- 			#{isStamp}, -->
			#{subProContract.id}
		)
	</insert>
	
	<update id="update">
		UPDATE sub_contract_printing SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			print_date = #{printDate},
			print_num = #{printNum},
			print_type = #{printType},
			times = #{times},
			is_stamp = #{isStamp},
			print_detail_type = #{printDetailType},
			sub_contract_id = #{subProContract.id}
		WHERE id = #{id}
	</update>
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM sub_contract_printing
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE sub_contract_printing SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="subContractPrinting" statementType="STATEMENT">
		select * FROM sub_contract_printing  where ${propertyName} = '${value}'
	</select>
	
</mapper>