<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.dc.ccpt.modules.biddingmanagement.tendermanage.subprogram.mapper.SubpackageProgramMapper">
    
	<sql id="subpackageProgramColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.plan_to_start AS "planToStart",
		a.plan_to_end AS "planToEnd",
		a.subpackage_programnum AS "subpackageProgramNum",
		a.subpackage_programname AS "subpackageProgramName",
		a.subpackage_programcont AS "subpackageProgramCont",
		a.tender_company AS "tenderCompany",
		a.sub_program_type AS "subProgramType",
		a.parent_id AS "program.id",
		p.programname AS "program.programName",
		p.programtype AS "program.programType",
		o.name AS "program.office.name",
		a.status AS "status"
	</sql>
	
	<sql id="subpackageProgramJoins">
		LEFT JOIN ccpt.program_tab AS p on p.id=a.parent_id
		LEFT JOIN ccpt.sys_office AS o on o.id = p.sys_officeid
	</sql>
    
	<select id="get" resultType="SubpackageProgram" >
		SELECT 
			<include refid="subpackageProgramColumns"/>
		FROM subpackage_program a
		<include refid="subpackageProgramJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="getNumCount" resultType="Integer">
		SELECT 
			count(*)
		FROM subpackage_program
	</select>
	
	<select id="getTypeByParentId" resultType="Integer">
		SELECT 
			a.sub_program_type AS "subProgramType"
		FROM subpackage_program a
		where a.parent_id = #{program.id}
	</select>
	
	<select id="getLastInsertNum" resultType="String">
		SELECT
			a.subpackage_programnum AS "subpackageProgramNum"
		FROM subpackage_program a	
		WHERE a.create_date =  (SELECT MAX(a.create_date) FROM subpackage_program a)
	</select>
	
	 <select id="getSubpackageProgramList" resultType="SubpackageProgram">
    	SELECT 
			a.id AS "id",
			a.subpackage_programname AS "subpackageProgramName"
		FROM subpackage_program a
    	<where>
			<if test="subpackageProgramName != null and subpackageProgramName != ''">
				AND a.subpackage_programname LIKE concat('%',#{subpackageProgramName},'%')
			</if>
    	</where>
    </select>
<!--     查询已中标 （c.isBid=1）且总包合同审批已通过（pc.approval_status = 2）的分包项目 -->
	 <select id="getSubpackageProgramListByName" resultType="SubpackageProgram">
    	SELECT 
			a.id AS "id",
			a.subpackage_programname AS "subpackageProgramName"
		FROM subpackage_program a
		LEFT JOIN ccpt.subbid_company s ON s.subpackage_program_id = a.id
		LEFT JOIN ccpt.clearevaluate_bid c ON c.subbid_company_id = s.id
		LEFT JOIN ccpt.program_contract pc ON pc.program_id = a.parent_id
    	<where>
			<if test="subpackageProgramName != null and subpackageProgramName != ''">
				AND a.subpackage_programname LIKE concat('%',#{subpackageProgramName},'%')
			</if>
				AND c.isBid=1
				AND pc.approval_status = 2
    	</where>
    </select>
	
	<select id="findList" resultType="SubpackageProgram" >
		SELECT 
			<include refid="subpackageProgramColumns"/>
		FROM subpackage_program a
		<include refid="subpackageProgramJoins"/>
		<where>
<!-- 			a.del_flag = #{DEL_FLAG_NORMAL} -->
			${dataScope}
			<if test="program.programName != null and program.programName != ''">
				AND p.programname LIKE 
					<if test="dbName == 'oracle'">'%'||#{program.programName}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{program.programName}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{program.programName},'%')</if>
			</if>
			<if test="subpackageProgramName != null and subpackageProgramName != ''">
				AND a.subpackage_programname LIKE 
					<if test="dbName == 'oracle'">'%'||#{subpackageProgramName}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{subpackageProgramName}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{subpackageProgramName},'%')</if>
			</if>
<!-- 			<if test="parentId != null and parentId != ''"> -->
<!-- 				AND a.parent_id = #{parentId} -->
<!-- 			</if> -->
			<if test="status != null and status != ''">
				AND a.status = #{status}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
<!-- 				ORDER BY a.update_date DESC -->
					ORDER BY a.create_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="SubpackageProgram" >
		SELECT 
			<include refid="subpackageProgramColumns"/>
		FROM subpackage_program a
		<include refid="subpackageProgramJoins"/>
		<where>
<!-- 			a.del_flag = #{DEL_FLAG_NORMAL} -->
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO subpackage_program(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			plan_to_start,
			plan_to_end,
			subpackage_programnum,
			subpackage_programname,
			subpackage_programcont,
			parent_id,
			tender_company,
			sub_program_type,
			status
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{planToStart},
			#{planToEnd},
			#{subpackageProgramNum},
			#{subpackageProgramName},
			#{subpackageProgramCont},
			#{program.id},
			#{tenderCompany},
			#{subProgramType},
			#{status}
		)
	</insert>
	
	<update id="update">
		UPDATE subpackage_program SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			plan_to_start = #{planToStart},
			plan_to_end = #{planToEnd},
			subpackage_programnum = #{subpackageProgramNum},
			subpackage_programname = #{subpackageProgramName},
			subpackage_programcont = #{subpackageProgramCont},
			parent_id = #{program.id},
			sub_program_type = #{subProgramType},
			status = #{status}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM subpackage_program
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE subpackage_program SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="SubpackageProgram" statementType="STATEMENT">
		select * FROM subpackage_program  where ${propertyName} = '${value}'
	</select>
	
</mapper>