<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.dc.ccpt.modules.biddingmanagement.bid.companymanage.mapper.WorkerMapper">
    
	<sql id="workerColumns">
		a.id AS "id",
		a.workernum AS "workerNum",
		a.workername AS "workerName",
		a.workerposition AS "workerPosition",
		a.create_date AS "createDate",
		a.update_date AS "updateDate",
		a.create_by AS "createBy",
		a.update_by AS "updateBy",
		a.del_flag AS "delFlag"
	</sql>
	
	<sql id="workerJoins">
		
	</sql>
	
	<select id="listAllWorkers" resultType="Worker">
		SELECT 
		 <include refid="workerColumns"/>
		FROM worker a 
	</select>
    
	<select id="get" resultType="Worker" >
		SELECT 
			<include refid="workerColumns"/>
		FROM worker a
		<include refid="workerJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="getAllWorkerList" resultType="Worker" >
		SELECT 
			<include refid="workerColumns"/>
		FROM worker a
			<include refid="workerJoins"/>
		WHERE a.workername LIKE 
			<if test="dbName == 'oracle'">'%'||#{workerName}||'%'</if>
			<if test="dbName == 'mssql'">'%'+#{workerName}+'%'</if>
			<if test="dbName == 'mysql'">concat('%',#{workerName},'%')</if>
	</select>
	
	<select id="findList" resultType="Worker" >
		SELECT 
			<include refid="workerColumns"/>
		FROM worker a
		<include refid="workerJoins"/>
		<where>
			<!-- a.del_flag = #{DEL_FLAG_NORMAL} -->
			${dataScope}
			<if test="workerNum != null and workerNum != ''">
				AND a.workernum LIKE 
					<if test="dbName == 'oracle'">'%'||#{workerNum}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{workerNum}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{workerNum},'%')</if>
			</if>
			<if test="workerName != null and workerName != ''">
				AND a.workername LIKE 
					<if test="dbName == 'oracle'">'%'||#{workerName}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{workerName}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{workerName},'%')</if>
			</if>
			<if test="workerPosition != null and workerPosition != ''">
				AND a.workerposition = #{workerPosition}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="Worker" >
		SELECT 
			<include refid="workerColumns"/>
		FROM worker a
		<include refid="workerJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO worker(
			id,
			workernum,
			workername,
			workerposition,
			create_date,
			update_date,
			create_by,
			update_by,
			del_flag
		) VALUES (
			#{id},
			#{workerNum},
			#{workerName},
			#{workerPosition},
			#{createDate},
			#{updateDate},
			#{createBy},
			#{updateBy},
			#{delFlag}
		)
	</insert>
	
	<update id="update">
		UPDATE worker SET 	
			workernum = #{workerNum},
			create_date = #{createDate},
			update_date = #{updateDate},
			create_by = #{createBy},
			update_by = #{updateBy},
			del_flag = #{delFlag}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM worker
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE worker SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="Worker" statementType="STATEMENT">
		select * FROM worker  where ${propertyName} = '${value}'
	</select>
	
</mapper>