<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.dc.ccpt.modules.coreperson.basicinfo.mapper.CorePersonMapper">
    
	<sql id="corePersonColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		
		a.del_flag AS "delFlag",
		a.remarks AS "remarks",
		a.id_num AS "identityNum",
		sf.name AS "user.office.name",
		a.is_build AS "isBuild",
		
		a.user_id AS "user.id",
		su.name AS "user.name",
		su.mobile AS "user.mobile",
		a.phone_num AS "phoneNum"
<!-- 		csc.certificate_name AS "personCertificate.certificateName" -->
		
	</sql>
	
	<sql id="corePersonJoins">
		LEFT JOIN sys_user su ON su.id = a.user_id
		LEFT JOIN ccpt.sys_office sf ON sf.id = su.office_id 
<!-- 		LEFT JOIN ccpt.core_staff_certificate csc ON csc.core_staff_id = a.id -->
	</sql>
	
	<select id="get" resultType="corePerson" >
		SELECT 
			<include refid="corePersonColumns"/>
		FROM core_staff a
		<include refid="corePersonJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="getCorePersonByIdNum" resultType="corePerson" >
		SELECT 
			<include refid="corePersonColumns"/>
		FROM core_staff a
			<include refid="corePersonJoins"/>
		WHERE a.id_num = #{identityNum}
	</select>
	
	<select id="getAllCorePersonList" resultType="CorePerson" >
		SELECT 
			a.id AS "id",
			su.name AS "user.name"
		FROM core_staff a
		<include refid="corePersonJoins"/>
		<where>
			<if test="user.name != null and user.name != ''">
				AND su.name LIKE 
					<if test="dbName == 'oracle'">'%'||#{user.name}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{user.name}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{user.name},'%')</if>
			</if>
		</where>
	</select>
	
	
	<!-- 	通过指定条件获取人员名称 -->
	<select id="getAppointCorePersonListByName" resultType="CorePerson" >
		SELECT 
			a.id AS "id",
			su.name AS "user.name"
		FROM core_staff a
		<include refid="corePersonJoins"/>
		<where>
			<if test="user.name != null and user.name != ''">
				AND su.name LIKE 
					<if test="dbName == 'oracle'">'%'||#{user.name}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{user.name}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{user.name},'%')</if>
			</if>
			AND a.id IN 
			(SELECT core_staff_id FROM core_staff_certificate sc
			<where>
				<if test="personCertificate.certificateName !=null and personCertificate.certificateName != ''">
					AND sc.certificate_name = #{personCertificate.certificateName}
					AND sc.is_invalid = 0
				</if>
			</where>
			 GROUP BY core_staff_id )
		</where>
	</select>
	
	<!--通过用户id查询核心人员信息 -->
	<select id="getCorePersonByUserId" resultType="CorePerson" >
		SELECT 
			<include refid="corePersonColumns"/>
		FROM core_staff a
			<include refid="corePersonJoins"/>
		<where>
			<if test="user.id != null and user.id != ''">
				AND su.id = #{user.id}
			</if>
		</where>
	</select>
	
	<select id="findList" resultType="corePerson" parameterType="List">
		SELECT 
			<include refid="corePersonColumns"/>
		FROM core_staff a
			<include refid="corePersonJoins"/>
		<where>
			${dataScope}
			<if test="user !=null and user.name != null and user.name != ''">
				AND su.name LIKE 
					<if test="dbName == 'oracle'">'%'||#{user.name}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{user.name}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{user.name},'%')</if>
			</if>
			AND a.id IN 
			(SELECT core_staff_id FROM core_staff_certificate sc
			<where>
				<if test="personCertificate.certificateName !=null and personCertificate.certificateName != ''">
					AND sc.certificate_name = #{personCertificate.certificateName}
				</if>
			</where>
			 GROUP BY core_staff_id )
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="corePerson" >
		SELECT 
			<include refid="corePersonColumns"/>
		FROM core_staff a
		<include refid="corePersonJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO core_staff(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			del_flag,
			remarks,
			id_num,
			user_id
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{delFlag},
			#{remarks},
			#{identityNum},
			#{user.id}
		)
	</insert>
	
	<update id="update">
		UPDATE core_staff SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			id_num = #{identityNum},
			user_id = #{user.id},
			is_build = #{isBuild}
		WHERE id = #{id}
	</update>
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM core_staff
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE core_staff SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="corePerson" statementType="STATEMENT">
		select * FROM core_staff  where ${propertyName} = '${value}'
	</select>
	
</mapper>