<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.dc.ccpt.modules.biddingmanagement.bid.programmanage.mapper.CompanyMapper">
    
	<sql id="companyColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.del_flag AS "delFlag",
		a.companynum AS "companyNum",
		a.companyname AS "companyName",
		a.companycont AS "companyCont",
		a.remarks AS "remarks"
	</sql>
	
	<sql id="companyJoins">
		
	</sql>
	
	<select id="listAllCompanyIdAndName" resultType="Company">
    	select 
	    	a.id,
	    	a.companyname
    	from company_tab a
    </select>
    
    <select id="getCompanyIdByName" resultType="Company" >
		SELECT 
			a.id AS "id"
		FROM company_tab a
		WHERE a.companyname = #{companyname}
	</select>
    
    <select id="getCompanyTotalCount" resultType="Integer">
    	SELECT
    		count(*)
    	FROM company_tab a	
    </select>
    
    <select id="getLastInsertNum" resultType="String">
    	SELECT
			a.companynum AS "companyNum"
		FROM company_tab a	
		WHERE a.create_date =  (SELECT MAX(a.create_date) FROM company_tab a)
    </select>
    
     <select id="listAllCompany" resultType="Company">
    	select 
	    	a.id AS "id",
	    	a.companynum AS "companyNum",
	    	a.companyname AS "companyName",
	    	a.companycont AS "companyCont"
    	from company_tab a
    </select>
    
    <select id="listAllCompanyByName" resultType="Company">
    	select 
	    	a.id AS "id",
	    	a.companynum AS "companyNum",
	    	a.companyname AS "companyName",
	    	a.companycont AS "companyCont"
    	from company_tab a
    	<where>
			<if test="companyName != null and companyName != ''">
				AND a.companyname LIKE concat('%',#{companyName},'%')
			</if>
<!-- 				AND a.id &lt;&gt; "03ae459404284f17bbd25e78a13397a6" -->
    	</where>
    </select>
    
    <select id="listAllCompanyByNameExceptJz" resultType="Company">
    	select 
	    	a.id AS "id",
	    	a.companynum AS "companyNum",
	    	a.companyname AS "companyName",
	    	a.companycont AS "companyCont"
    	from company_tab a
    	<where>
			<if test="companyName != null and companyName != ''">
				AND a.companyname LIKE concat('%',#{companyName},'%')
			</if>
				AND a.id &lt;&gt; "03ae459404284f17bbd25e78a13397a6"
    	</where>
    </select>
    
	<select id="get" resultType="Company" >
		SELECT 
			<include refid="companyColumns"/>	
		FROM company_tab a
		<include refid="companyJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="Company" >
		SELECT 
			<include refid="companyColumns"/>
		FROM company_tab a
		<include refid="companyJoins"/>
		<where>
			<!-- a.del_flag = #{DEL_FLAG_NORMAL} -->
			${dataScope}
			<if test="companyNum != null and companyNum != ''">
				AND a.companynum = #{companyNum}
			</if>
			<if test="companyName != null and companyName != ''">
				AND a.companyname = #{companyName}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.companynum ASC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="Company" >
		SELECT 
			<include refid="companyColumns"/>
		FROM company_tab a
		<include refid="companyJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.companynum ASC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO company_tab(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			del_flag,
			companynum,
			companyname,
			companycont,
			remarks
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{delFlag},
			#{companyNum},
			#{companyName},
			#{companyCont},
			#{remarks}
		)
	</insert>
	
	<update id="update">
		UPDATE company_tab SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			companynum = #{companyNum},
			companyname = #{companyName},
			companycont = #{companyCont},
			remarks = #{remarks}
		WHERE id = #{id}
	</update>
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM company_tab
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE company_tab SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="Company" statementType="STATEMENT">
		select * FROM company_tab  where ${propertyName} = '${value}'
	</select>
</mapper>