<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.dc.ccpt.modules.biddingmanagement.tendermanage.openbid.mapper.OpenBidMapper">
    
	<sql id="openBidColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.tender_id AS "tenderId",
		a.open_bid_num AS "openBidNum",
		a.subpackage_program_id AS "subpackageProgramId"
	</sql>
	
	<sql id="openBidJoins">
		
		
	</sql>
	
    
	<select id="get" resultType="OpenBid" >
		SELECT 
			<include refid="openBidColumns"/>
		FROM open_bid_tab a
		<include refid="openBidJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="OpenBid" >
		SELECT 
			<include refid="openBidColumns"/>
		FROM open_bid_tab a
		<include refid="openBidJoins"/>
		<where>
<!-- 			a.del_flag = #{DEL_FLAG_NORMAL} -->
			${dataScope}
			<if test="tenderId != null and tenderId != ''">
				AND a.tender_id = #{tenderId}
			</if>
			<if test="openBidNum != null and openBidNum != ''">
				AND a.open_bid_num = #{openBidNum}
			</if>
			<if test="subpackageProgramId != null and subpackageProgramId != ''">
				AND a.subpackage_program_id = #{subpackageProgramId}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="OpenBid" >
		SELECT 
			<include refid="openBidColumns"/>
		FROM open_bid_tab a
		<include refid="openBidJoins"/>
		<where>
<!-- 			a.del_flag = #{DEL_FLAG_NORMAL} -->
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO open_bid_tab(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			tender_id,
			open_bid_num,
			subpackage_program_id
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{tenderId},
			#{openBidNum},
			#{subpackageProgramId}
		)
	</insert>
	
	<update id="update">
		UPDATE open_bid_tab SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			tender_id = #{tenderId},
			open_bid_num = #{openBidNum},
			subpackage_program_id = #{subpackageProgramId}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM open_bid_tab
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE open_bid_tab SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="OpenBid" statementType="STATEMENT">
		select * FROM open_bid_tab  where ${propertyName} = '${value}'
	</select>
	
</mapper>